

.background {
    background-color: beige;
    border-radius: 25px;
    border: 2px solid pink;
    padding: 20px;
    width: 50vw;
    height: 25vw;
}
.title {
  color: blanchedalmond;
  font-size: 100px;
}